/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UTILS */


.center {
    align-self: center;
}
.flex {
    display: flex;
}


/* backgrounds */


.bg-w {
    background-color: white;
    padding: 50px;
}
.bg-g {
    background-color: #F6F6F6;
    padding: 50px;
}
.bg-dg {
    background-color: #23272A;
}
.bg-dg-bw {
    background-color: #23272A;
    border-top: 2px solid white;
    padding-top: 20px;
}


/* squares */


.squares {
   padding: 30px 0;
}
.sp-square {
    width: 70%;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.b-square {
    height: 400px;
    width: 60%;
}
.p-square {
     height: 400px;
     width: 35%;
     flex-direction: column;
     justify-content: center;
     padding-left: 100px;
}
.p-square-reverse {
    height: 400px;
    width: 35%;
    flex-direction: column;
    justify-content: center;
    padding-right:50px;
    padding-top: 50px;
}
.g-square {
    height: 800px;
    flex-direction: column;
    justify-items: center;

}
.logo-square {
    height: 300px;
    flex-direction: column;
    color: white;
    gap: 15px;
}
.footer-squares {
    height: 300px;
    
}


/* main css */


body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header {
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: auto;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.navigator {
    align-items: center;
    height: 50px;
    padding-top: 20px; 
}
.logo {
    width: 15%;
    display: inline;
}
.links {
    width: 70%;
    justify-content: center;
}
ul {
    color: white;
    list-style: none;
}
li{
    padding: 15px;
}
.login {
    background-color: white;
    width: auto;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
    justify-content: flex-end;
    color: black;
}


/* here starts jumbotron */


.jumbotron {
    justify-content: center;
    padding: 100px 0;
}
.jumbo-title {
    padding-bottom: 30px;
    font-size: 45px;
}
.jt-par {
    text-align: center;
    padding-bottom: 20px;
}
.jt-button {
    column-gap: 30px;
}
.mac-downl {
    background-color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 25px;
    color: black;
}
.dis-br {
    background-color: black;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}
.waves {
    background-image: url(img/wave.svg);
    height: 100px;
    opacity: 0.04;
}
.upside-down{
    rotate: 0.5turn;
}
.item-title {
    font-size: 40px;
    padding-bottom: 30px;
}
.item-p {
    line-height: 1.6;
}
.last-it {
    text-align: center;
}
.stars {
    width: 50%;
    align-self: center;

}
.mac-downl-last-box {
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 150px;
}
.mac-downl-last {
    background-color: #8FA1E1;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
    text-align: center;
    width: auto;
    
}
.p-b {
    flex-direction: row-reverse;
}


/* footer */
.title-logo-square {
    color: #7389DA;
}
.ita{
    gap: 5px;
    align-items: center;
}
.logo-ita {
    height: 15px;
    
}
.list {
    padding-left: 30px;
    padding-top: 10px;
}
.list-title {
    color: #7389DA;
}

.list-title ~ li, .list-title {
    padding: 0 20px;

}

.bar {
    justify-content: space-between;
    padding-bottom: 100px;
}
.button {
    background-color: #8FA1E1;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
    text-align: center;
    width: auto;
}